@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  color: #CCCCCC;
  font-weight: 600; }

h3 {
  color: #343434;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif font-size 1.7rem;
  font-weight: 300; }

h4 {
  color: #054783;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px; }

p {
  font-family: "Nunito", sans-serif;
  color: black;
  font-size: 0.9rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px; }

.info-block a {
  color: #DE032B;
  text-decoration: underline; }

h5 {
  font-size: 1.5rem;
  color: #343434; }

.headtext {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 5.5vh;
  text-align: center;
  line-height: 1.56;
  text-shadow: 0px 1px 2px rgba(62, 57, 107, 0.4); }

.text-red {
  color: #DE032B !important; }

.text-blue {
  color: #054783 !important; }

.text-darkgrey {
  color: #343434; }

body {
  background-color: white; }

section.sectionone {
  background-color: white; }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

.no-margin {
  margin-left: 0;
  margin-right: 0; }

.info-block {
  background-color: white;
  padding-right: 6%;
  padding-left: 6%;
  padding-bottom: 6%;
  padding-top: 6%; }

.margin {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.shadow {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 70px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  z-index: 10;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.return-to-top:hover {
  background: #DE032B; }

.return-to-top:hover i {
  color: #fff;
  top: 5px; }

.phone-link {
  color: #343434;
  font-family: "Open Sans", sans-serif;
  padding-left: 5px;
  padding-right: 10px;
  border-right: solid 1px #bbb;
  font-size: 1rem;
  font-weight: 400; }

.mail-link {
  padding-left: 10px;
  color: #343434;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400; }

.phone-link:hover,
.mail-link:hover {
  color: #DE032B;
  text-decoration: none !important; }

.heading {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: 200%;
  background-image: linear-gradient(to bottom right, #054783 0%, #CCCCCC 70%, #DE032B 100%);
  transition: 600ms ease; }
  .heading:hover {
    background-position: 100% 0; }

s a.footer-mail {
  color: #054783 !important; }

.footer-mail:hover {
  text-decoration: none !important; }

.footer-mail:hover {
  color: #DE032B !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.footah {
  background-color: #fff;
  margin-top: 32px; }

/* Specefikt f├╢r f├╢rr├Ñd
ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô */
.heading-farrad img {
  max-width: 100%;
  height: auto; }

.heading-farrad {
  height: 500px;
  position: relative;
  background: url("../img/header-farrad.jpg") no-repeat center center fixed;
  background-size: cover; }

/* TIMELINE
ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô */
/* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Placeholders */
@media (min-width: 1110px) {
  #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; }

  #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px #f7f7f7; } }
/* Some Cool Stuff */
.demo-card:nth-child(1) {
  order: 1; }

.demo-card:nth-child(2) {
  order: 4; }

.demo-card:nth-child(3) {
  order: 2; }

.demo-card:nth-child(4) {
  order: 5; }

.demo-card:nth-child(5) {
  order: 3; }

.demo-card:nth-child(6) {
  order: 6; }

/* Border Box */
* {
  box-sizing: border-box; }

#timeline {
  padding: 0 0;
  background: #f7f7f7;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  border-bottom: 1px solid rgba(191, 191, 191, 0.4); }
  #timeline h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px; }
  #timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px; }
  #timeline .demo-card-wrapper {
    position: relative;
    margin: auto; }
    @media (min-width: 1110px) {
      #timeline .demo-card-wrapper {
        display: flex;
        flex-flow: column wrap;
        width: 1170px;
        height: 1500px;
        margin: 0 auto; } }
    #timeline .demo-card-wrapper::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 1px solid rgba(191, 191, 191, 0.4); }
      @media (min-width: 1110px) {
        #timeline .demo-card-wrapper::after {
          border-left: 1px solid #bdbdbd; } }
  #timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2; }
    @media (min-width: 576px) {
      #timeline .demo-card {
        max-width: 60%;
        box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07); } }
    @media (min-width: 1110px) {
      #timeline .demo-card {
        max-width: 40%; } }
    @media (min-width: 1110px) {
      #timeline .demo-card {
        max-width: 450px;
        height: 400px;
        margin: 90px;
        margin-top: 45px;
        margin-bottom: 45px; }
        #timeline .demo-card:nth-child(odd) {
          margin-right: 45px; }
          #timeline .demo-card:nth-child(odd) .head::after {
            border-left-width: 15px;
            border-left-style: solid;
            left: 100%; }
          #timeline .demo-card:nth-child(odd) .head::before {
            left: 491.5px; }
        #timeline .demo-card:nth-child(even) {
          margin-left: 45px; }
          #timeline .demo-card:nth-child(even) .head::after {
            border-right-width: 15px;
            border-right-style: solid;
            right: 100%; }
          #timeline .demo-card:nth-child(even) .head::before {
            right: 489.5px; }
        #timeline .demo-card:nth-child(2) {
          margin-top: 180px; } }
    #timeline .demo-card .head {
      position: relative;
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 400; }
      #timeline .demo-card .head .number-box {
        display: inline;
        float: left;
        margin: 15px;
        padding: 10px;
        font-size: 35px;
        line-height: 35px;
        font-weight: 600;
        background: rgba(0, 0, 0, 0.17); }
      #timeline .demo-card .head h2 {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: inherit;
        letter-spacing: 2px;
        margin: 0;
        padding-bottom: 6px;
        line-height: 1rem; }
        @media (min-width: 576px) {
          #timeline .demo-card .head h2 {
            font-size: 165%;
            line-height: 1.2rem; } }
        #timeline .demo-card .head h2 span {
          display: block;
          font-size: 0.6rem;
          margin: 0; }
          @media (min-width: 576px) {
            #timeline .demo-card .head h2 span {
              font-size: 0.8rem; } }
    #timeline .demo-card .body {
      background: #fff;
      border: 1px solid rgba(191, 191, 191, 0.4);
      border-top: 0;
      padding: 15px; }
      @media (min-width: 1110px) {
        #timeline .demo-card .body {
          height: 315px; } }
      #timeline .demo-card .body p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px; }
      #timeline .demo-card .body img {
        display: block;
        width: 100%; }
    #timeline .demo-card--step1 {
      background-color: #054783; }
      #timeline .demo-card--step1 .head::after {
        border-color: #054783; }
    #timeline .demo-card--step2 {
      background-color: #DE032B; }
      #timeline .demo-card--step2 .head::after {
        border-color: #DE032B; }
    #timeline .demo-card--step3 {
      background-color: #DE032B; }
      #timeline .demo-card--step3 .head::after {
        border-color: #DE032B; }
    #timeline .demo-card--step4 {
      background-color: #054783; }
      #timeline .demo-card--step4 .head::after {
        border-color: #054783; }
    #timeline .demo-card--step5 {
      background-color: #054783; }
      #timeline .demo-card--step5 .head::after {
        border-color: #054783; }

.heading-fordon {
  height: 500px;
  position: relative;
  background: url("../img/fordonsfarvaring/fordon-heading.jpg") no-repeat center center fixed;
  background-size: cover; }

.heading-faretag {
  height: 500px;
  position: relative;
  background: url("../img/foretagshotell/foretagshotell-heading.jpg") no-repeat center center fixed;
  background-size: cover; }

#oppetider-reception img {
  width: 100%;
  height: auto; }
#oppetider-reception h4 {
  font-size: 1rem; }

.p-6 {
  padding: 4rem 4rem !important; }

/* Foretagshotell */
#foretag1 h3 {
  color: #054783; }

#foretag2 h4 {
  font-size: 1rem; }

#map {
  width: 100%;
  height: 400px; }

#logo {
  height: auto;
  width: 100%;
  margin-top: 3vh; }

.nav-lin:visited,
.nav-lin:link {
  background-color: white;
  padding: 2% auto;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

.nav-lin:hover,
.nav-lin:active {
  color: #DE032B !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.nav-lin h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0;
  letter-spacing: 0.7px;
  color: #343434; }

#phoon {
  height: 30px; }

@media (max-width: 991px) {
  .service {
    text-align: center; }

  .pushup {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }

  #logo {
    width: 60%; }

  .padding {
    padding-top: 35px;
    padding-bottom: 35px; }

  .nav-lin h5 {
    font-size: 1.6rem; }

  #phoon {
    margin-top: 5%; }

  #foretag2 #threepics {
    display: none !important; } }
@media (min-width: 991px) {
  #phoon {
    margin-right: 5.5%; }

  .leftimg {
    padding-left: 1.5rem; }

  .rightimg {
    padding-right: 1.5rem; } }
@media (max-width: 450px) {
  .nav-lin h5 {
    font-size: 1.1rem; } }

/*# sourceMappingURL=axxona.css.map */
