body {
    background-color: white;
}

section.sectionone {
    background-color: white;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.info-block {
    background-color: white;
    padding-right: 6%;
    padding-left: 6%;
    padding-bottom: 6%;
    padding-top: 6%;
}

.margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.shadow {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 70px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    z-index: 10;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    z-index: 10;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.return-to-top:hover {
    background: $a-red;
}

.return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.phone-link {
    color: $a-darkgrey;
    font-family: $ff-opensans;
    padding-left: 5px;
    padding-right: 10px;
    border-right: solid 1px #bbb;
    font-size: 1rem;
    font-weight: 400;
}

.mail-link {
    padding-left: 10px;
    color: $a-darkgrey;
    font-family: $ff-opensans;
    font-size: 1rem;
    font-weight: 400;
}

.phone-link:hover,
.mail-link:hover {
    color: $a-red;
    text-decoration: none !important;
}

.heading {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-size: 200%;
    background-image: linear-gradient(to bottom right, $a-blue 0%, $a-grey 70%, $a-red 100%);
    transition: 600ms ease;
    &:hover {
        background-position: 100% 0;
    }
}

s a.footer-mail {
    color: $a-blue !important;
}

.footer-mail:hover {
    text-decoration: none !important;
}

.footer-mail:hover {
    color: $a-red !important;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footah {
    background-color: #fff;
    margin-top: 32px;
}


/* Specefikt för förråd
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.heading-farrad img {
    max-width: 100%;
    height: auto;
}

.heading-farrad {
    height: 500px;
    position: relative;
    background: url("../img/header-farrad.jpg") no-repeat center center fixed;
    background-size: cover;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Media Queries */

@mixin mq-xs {
    @media (min-width: 325px) {
        @content;
    }
}

@mixin mq-sm {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin mq-md {
    @media (min-width: 1110px) {
        @content;
    }
}

@mixin mq-lg {
    @media (min-width: 1110px) {
        @content;
    }
}

$background: #f7f7f7;
$box-shadow: 0px 1px 22px 4px rgba(0,
0,
0,
0.07);
$border: 1px solid rgba(191,
191,
191,
0.4);
$items: 5;
$rows: ceil($items/2);

/* Card sizing */

$card-height: 400px;
$card-width: 450px;
$inner-margin: 15px;
$number-size: 35px;
$stagger: 180px;
$outer-margin: 90px;
$marker-size: 9px;
$margin-bottom: 150px;

/* Colors */

$steps: #46b8e9;
$colors: $a-blue,
$a-red,
$a-red,
$a-blue;
$timeline: #bdbdbd;

/* Calculations */

$container-height: $rows * ($card-height+$outer-margin)+$stagger - $margin-bottom;
$container-width: $card-width*2+$outer-margin*3;
$head-height: $number-size+50;
$body-height: $card-height - $head-height;
$marker-dist: $card-width+$outer-margin/2 - $marker-size/2;

/* Placeholders */

@include mq-lg {
    %arrow {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }
    %marker {
        position: absolute;
        content: "";
        width: $marker-size;
        height: $marker-size;
        background-color: $timeline;
        border-radius: $marker-size;
        box-shadow: 0px 0px 2px 8px $background;
    }
}


/* Some Cool Stuff */

$counter: $items - $rows+2;
@for $i from 1 through $rows {
    .demo-card:nth-child(#{$i*2-1}) {
        order: $i
    }
    .demo-card:nth-child(#{$i*2}) {
        order: $counter
    }
    $counter: $counter+1;
}


/* Border Box */

* {
    box-sizing: border-box;
}


#timeline {
    padding: 0 0;
    background: $background;
    border-top: $border;
    border-bottom: $border;
    h1 {
        text-align: center;
        font-size: 3rem;
        font-weight: 200;
        margin-bottom: 20px;
    }
    p.leader {
        text-align: center;
        max-width: 90%;
        margin: auto;
        margin-bottom: 45px;
    }
    .demo-card-wrapper {
        position: relative;
        margin: auto;
        @include mq-lg {
            display: flex;
            flex-flow: column wrap;
            width: $container-width;
            height: $container-height;
            margin: 0 auto;
        }
        &::after {
            z-index: 1;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            border-left: $border;
            @include mq-lg {
                border-left: 1px solid $timeline;
            }
        }
    }
    .demo-card {
        position: relative;
        display: block;
        margin: 10px auto 80px;
        max-width: 94%;
        z-index: 2;
        @include mq-sm {
            max-width: 60%;
            box-shadow: $box-shadow;
        }
        @include mq-md {
            max-width: 40%;
        }
        @include mq-lg {
            max-width: $card-width;
            height: $card-height;
            margin: $outer-margin;
            margin-top: $outer-margin/2;
            margin-bottom: $outer-margin/2;
            &:nth-child(odd) {
                margin-right: $outer-margin/2;
                .head::after {
                    @extend %arrow;
                    border-left-width: 15px;
                    border-left-style: solid;
                    left: 100%;
                }
                .head::before {
                    @extend %marker;
                    left: $marker-dist + 1;
                }
            }
            &:nth-child(even) {
                margin-left: $outer-margin/2;
                .head::after {
                    @extend %arrow;
                    border-right-width: 15px;
                    border-right-style: solid;
                    right: 100%;
                }
                .head::before {
                    @extend %marker;
                    right: $marker-dist - 1;
                }
            }
            &:nth-child(2) {
                margin-top: $stagger;
            }
        }
        .head {
            position: relative;
            display: flex;
            align-items: center;
            color: #fff;
            font-weight: 400;
            .number-box {
                display: inline;
                float: left;
                margin: $inner-margin;
                padding: 10px;
                font-size: $number-size;
                line-height: $number-size;
                font-weight: 600;
                background: rgba(0, 0, 0, 0.17);
            }
            h2 {
                text-transform: uppercase;
                font-size: 1.3rem;
                font-weight: inherit;
                letter-spacing: 2px;
                margin: 0;
                padding-bottom: 6px;
                line-height: 1rem;
                @include mq-sm {
                    font-size: 165%;
                    line-height: 1.2rem;
                }
                span {
                    display: block;
                    font-size: 0.6rem;
                    margin: 0;
                    @include mq-sm {
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .body {
            background: #fff;
            border: $border;
            border-top: 0;
            padding: $inner-margin;
            @include mq-lg {
                height: $body-height;
            }
            p {
                font-size: 14px;
                line-height: 18px;
                margin-bottom: $inner-margin;
            }
            img {
                display: block;
                width: 100%;
            }
        }
        @for $i from 1 through $items {
            &--step#{$i} {
                $color: nth($colors, ((($i - 1) % 4) + 1));
                background-color: $color;
                .head::after {
                    border-color: $color;
                }
            }
        }
    }
}

.heading-fordon {
    height: 500px;
    position: relative;
    background: url("../img/fordonsfarvaring/fordon-heading.jpg") no-repeat center center fixed;
    background-size: cover;
}

.heading-faretag {
    height: 500px;
    position: relative;
    background: url("../img/foretagshotell/foretagshotell-heading.jpg") no-repeat center center fixed;
    background-size: cover;
}

#oppetider-reception {
    img {
        width: 100%;
        height: auto;
    }
    h4 {
        font-size: 1rem;
    }
}

.p-6 {
    padding: 4rem 4rem !important;
}

/* Foretagshotell */
#foretag1 {
    h3 {
        color: $a-blue;
    }
}
#foretag2 {
    h4 {
        font-size: 1rem;
    }
}



#map {
    width: 100%;
    height: 400px;
}
