@media (max-width: 991px) {
    .service {
        text-align: center;
    }
    .pushup {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }
    #logo {
        width: 60%;
    }
    .padding {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .nav-lin h5 {
        font-size: 1.6rem;
    }
    #phoon {
        margin-top: 5%;
    }
    #foretag2 {
        #threepics {
            display: none !important;
        }
    }
}

@media (min-width: 991px) {
    #phoon {
        margin-right: 5.5%;
    }
    .leftimg {
        padding-left: 1.5rem;
    }
    .rightimg {
        padding-right: 1.5rem;
    }
}

@media (max-width: 450px) {
    .nav-lin h5 {
        font-size: 1.1rem;
    }
}
