#logo {
    height: auto;
    width: 100%;
    margin-top: 3vh;
}

.nav-lin:visited,
.nav-lin:link {
    background-color: white;
    padding: 2% auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-lin:hover,
.nav-lin:active {
    color: $a-red !important;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-lin h5 {
    font-family: $ff-opensans;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 0.7px;
    color: $a-darkgrey;
}

#phoon {
    height: 30px;
}
