$ff-cabin: 'Cabin',
sans-serif;
$ff-quicksand: 'Quicksand',
sans-serif;
$ff-nunito: 'Nunito',
sans-serif;
$ff-opensans: 'Open Sans',
sans-serif;
$ff-montserrat: 'Montserrat',
sans-serif;
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $ff-quicksand;
    color: $a-grey;
    font-weight: 600;
}

h3 {
    color: $a-darkgrey;
    text-transform: uppercase;
    font-family: $ff-opensans font-size 1.7rem;
    font-weight: 300;
}

h4 {
    color: $a-blue;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: $ff-opensans;
    letter-spacing: 1px;
}

p {
    font-family: $ff-nunito;
    color: black;
    font-size: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 25px;
}

.info-block a {
    color: $a-red;
    text-decoration: underline;
}

h5 {
    font-size: 1.5rem;
    color: $a-darkgrey;
}

.headtext {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 5.5vh;
    text-align: center;
    line-height: 1.56;
    text-shadow: 0px 1px 2px rgba(62, 57, 107, 0.4);
}

.text-red {
    color: $a-red !important;
}

.text-blue {
    color: $a-blue !important;
}

.text-darkgrey {
    color: $a-darkgrey;
}
